$content-width: 900px;
$main: #19CCAA;
$font-style: 'Open Sans', sans-serif;
$font-color: #212121;
$link-color: #425469;
$link-hover-color: $main;
$heading-font-color: #424242;
$light: #E7EDF4;
$header:  #1D1425;

body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h3{
	font-weight: 400;
	color: $heading-font-color;
  font-size: 20px;
}

h1,
h2, {
	font-weight: 300;
	color: $heading-font-color;
	line-height: 1.5;
}
h1 {
  font-weight: 500;
	font-size: 2.5em;
	a,
	a:visited {
      	font-weight: 400;
		text-decoration: none;
		color: #F44336;
	}
}
h2 {
	font-size: 2em;
}

a,
a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
  text-decoration: none;
	color: #DD2C00;
}