footer {
  border-top: 1px solid #898989;
  font-size: 14px;
	text-align: center;
	padding: 20px;
	nav {
		max-width: 800px;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: 'Muli', sans-serif;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;
					&:hover,
					&:active {
            text-decoration: none;
						color: #DD2C00;
					}
				}
			}
		}
  }
}
